.path-mod-watermarked .watermarkedcontent {
    text-align: center;
}

.path-mod-watermarked .watermarkeddetails {
    font-size: 0.8em;
    color: #555;
}

.watermarkedlinkdetails {
    font-size: 0.8em;
    color: #555;
}
